<div class="card mx-5 my-2 rounded shadow-sm p-5 " (click)="redirecionar()">
  <div class="row">
    <div class="col bg-cinza-claro opacidade75">
      <div class="row">
        <div class="col">
          <p
            class="preto1 fonte48 centro font-weight-bold"
            style="color: #3c3c3c; opacity: 0.75;"
          >
            {{ cidade?.main.temp | number: "1.0-0" }}ºC
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col fonte24 azul1 font-weight-bold">
          <p>
            {{ cidade?.name }}, {{ cidade?.sys.country }}
            <app-icone [icon]="cidade?.sys.country" [flag]="true"></app-icone>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col-3 cinza fonte14">
              Máx
            </div>
            <div class="col font-weight-bold">
              <p style="color: #b30000;">
                {{ cidade?.main.temp_max | number: "1.0-1" }} ºC
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-3 cinza fonte14 ">
              Mín
            </div>
            <div class="col font-weight-bold azul1">
              <p>{{ cidade?.main.temp_min | number: "1.0-1" }} ºC</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row altura100">
        <div class="col">
          <div class="row">
            <div class="col">
              <p class="centro">
                <app-icone [icon]="cidade.weather[0].icon"></app-icone>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col ">
              <p class="cinza centro font-italic">
                {{ cidade.weather[0].description }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
